.pio
.pioenvs
.piolibdeps
.vscode

src/bass.cpp
src/bass.h
src/chord1.cpp
src/chord1.h
src/chord2.cpp
src/chord2.h
src/chord3.cpp
src/chord3.h
src/deedle1.cpp
src/deedle1.h
src/deedle2.cpp
src/deedle2.h
src/extra.cpp
src/extra.h
